.slider-controls {
  display: grid;
  gap: 15px;


  button {
    background-color: transparent;
    border: none;
    cursor: pointer;
  }

  img {
    height: 25px;
  }

  .sliderPrew {
    transform: rotate(180deg); 
  }
}

.slider-controls__arrows {
  display: flex;
  column-gap: 25px;
  // opacity: 0.3;
}

.slider-controls__count {
  display: flex;
  column-gap: 6px;
  align-items: flex-end;
  justify-content: flex-end;

  font-size: 18px;
  font-weight: 600;
  line-height: 1;
  text-align: right;
  color: rgba(255, 255, 255, 0.3);
}

.slider-controls__count-current, .swiper-pagination-current {
  font-size: 32px;
  line-height: 0.75;
  color: #fff;
}
